@import '../variables.scss'; 

.title{
    font-size: 1.5rem; 
}

.title, .total, .percentage{
    color: $dark-text; 
}

.break{
    width: 100%;
    height: 1px; 
    background-color: $bg-color; 
    margin: 1rem 0; 
}

.monthSummary{
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    div{
        display: flex; 
        flex-direction: column; 
        color: $text; 
    }
    
}

.rtl{
    text-align: right;
}

.total{
    font-weight: 700; 
    font-size: 2rem; 
}

.percentage{
    font-weight: 700; 
}
