@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.balance {
  color: hsl(33deg, 100%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
}
